:root{
    --bg-body: linear-gradient(135deg, #cce5ff, #ffffff);;
    --default-text-color: #333333;
    --card-bg-color: #f0f8ff;
    --card-icon-bg: #ffffff;
    --btn-bg: #4da6ff;
    --header-bg: linear-gradient(135deg, #cce5ff, #ffffff);






}